* {box-sizing: border-box;}

body {
    margin: 0; padding: 0;
    height: 100vh;
    font-family: monospace;
}

main {
    height: 100vh;
    display: grid;
    grid-template-columns: 70% auto;
    grid-template-rows: 1fr 1fr;
}

.plane {
    grid-row: span 2;
}
.plane .grid {
    display: grid;
    width: min-content;
    margin: 0;
}
.square {
    border: 1px solid black;
}

.info {
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
}

.weapons {
    display: flex;
    gap: .5rem;
}
.weapon {
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid rgb(83, 83, 83)
}

main > section {border: 1px solid black}