.BattleMap {
  place-self: center;
  display: grid;
  width: fit-content;
  height: fit-content;
  position: relative;

  border-right: rgba(0, 0, 0, .15) 1px solid;
  border-bottom: rgba(0, 0, 0, .15) 1px solid;
}

.BattleMap.is-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.BattleMap-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: var(--layer-10);

  color: var(--color-primary);
  text-shadow: 2px 2px 0 var(--color-dark-1);
  text-transform: uppercase;
  font-size: var(--size-18);
  border-left: rgba(0, 0, 0, .15) 1px solid;
  border-top: rgba(0, 0, 0, .15) 1px solid;
}
.BattleMap-tile.is-available {
  background-color: var(--color-success-400);
}
.BattleMap-tile.is-unavailable {
  background-color: var(--color-error-400);
}

.BattleMap-tile.is-covered {
  background: var(--ship-pattern);
}
.BattleMap-tile.is-attacked {
  background: rgba(233, 144, 34, 0.5);
}
.BattleMap-tile.is-covered.is-attacked {
  background: linear-gradient(rgb(219, 47, 64, .5), rgb(219, 47, 64, .5)), var(--ship-pattern);
}

.BattleMap-tile.start::after, .BattleMap-tile.middle::after, .BattleMap-tile.end:after {
  content: '';
  position: absolute;
  inset: -1px;
  border: solid 5px var(--white);
}
.BattleMap-tile.is-covered.is-attacked::after {
  border-color: rgb(237, 149, 158);
}
.BattleMap-tile.start.horizontal::after {
  border-right: none;
}
.BattleMap-tile.start.vertical::after {
  border-bottom: none;
}
.BattleMap-tile.middle.horizontal::after {
  border-left: none;
  border-right: none;
}
.BattleMap-tile.middle.vertical::after {
  border-top: none;
  border-bottom: none;
}
.BattleMap-tile.end.horizontal::after {
  border-left: none;
}
.BattleMap-tile.end.vertical::after {
  border-top: none;
}

.BattleMap-background {
  position: absolute;
  bottom: 0; right: 0;
  background-image: url(/src/assets/ocean-pattern.png);
  background-size: 9.375rem;
  opacity: 90%;
}

.Sight {
  position: absolute;
  width: var(--tile-size);
  aspect-ratio: 1 / 1;
  z-index: var(--layer-30);
  color: var(--color-warning-300);
  background-color: var(--background-color-sight);
}