.BattleMap {
  display: grid;
  width: fit-content;
  height: fit-content;
  border-right: rgba(0, 0, 0, .15) 1px solid;
  border-bottom: rgba(0, 0, 0, .15) 1px solid;
}

.BattleMap-tile {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--color-primary);
  text-shadow: 2px 2px 0 var(--color-dark-1);
  text-transform: uppercase;
  font-size: var(--size-18);
  border-left: rgba(0, 0, 0, .15) 1px solid;
  border-top: rgba(0, 0, 0, .15) 1px solid;
}