/* #region FleetMenu */

.FleetMenu {
  width: 100%;
}
.FleetMenu-texts {
  margin-bottom: var(--size-16);
}
.FleetMenu-primaryText {
  font-size: var(--size-14);
  text-transform: uppercase;
}
.FleetMenu-ships {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-14);
}

.FleetMenu.is-player {
  color: var(--color-primary-800);
}
.FleetMenu.is-opponent {
  color: var(--color-dark-1);
}

/* Desktop Device */

@media (min-width: 1024px) {
  .FleetMenu {
    min-width: 36rem;
    width: min-content;
    padding: var(--size-18);
    box-shadow: var(--shadow-m);
  }
  .FleetMenu-primaryText {
    font-size: var(--size-16);
  }
  .FleetMenu-ships {
    gap: var(--size-12);
  }

  .FleetMenu.is-player {
    background-color: var(--color-primary-600);
    border: var(--color-dark-1) 4px solid;
    color: var(--color-dark-1);
  }
  .FleetMenu.is-opponent {
    background-color: var(--color-dark-1);
    border: var(--color-primary-500) 4px solid;
    color: var(--color-primary-500);
  }
}

/* #endregion FleetMenu */

/* #region FleetMenu Item */

.FleetMenuItem-wrapper {
  position: relative;
}
.FleetMenuItem-back {
  position: absolute;
  inset: 0;
  background-color: var(--color-dark-1);
}

.FleetMenuItem {
  position: relative;
  padding: 0 var(--size-10);
  height: 3rem;

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: var(--size-2) var(--size-8);
  align-items: center;
}

.FleetMenuItem.is-deployed {
  background-color: var(--white-2);
}
.FleetMenuItem.not-deployed {
  top: -7px;
  left: -5px;
  background-color: var(--gray-16);
  cursor: pointer;
}
.FleetMenuItem.not-deployed:hover {
  background-color: var(--gray-17);
}
.FleetMenuItem.is-deploying {
  top: -9px;
  left: -5px;
  transform: rotate(-3deg);
  background-color: var(--white-2);
}

.FleetMenuItem-icon {
  grid-row: 1 / 3;
  width: var(--size-28);
  aspect-ratio: 1 / 1;
  display: flex;
  color: var(--gray-8);
}
.FleetMenuItem-name {
  font-size: 9px;
  color: var(--gray-8);
  align-self: flex-end;
}
.FleetMenuItem-health {
  display: flex;
  gap: 3px;
  color: var(--color-primary-600);
  line-height: 100%;
  align-self: flex-start;
  font-size: var(--size-12);
}
.FleetMenuItem-live {
  width: var(--size-10);
  aspect-ratio: 1 / 1;
  background-color: var(--color-primary-600);
}
.FleetMenuItem-live.is-dead {
  background-color: var(--color-error-400);
}
.FleetMenuItem.not-deployed .FleetMenuItem-live {
  background-color: var(--gray-12);
}
.FleetMenuItem.is-deploying .FleetMenuItem-live {
  background-color: var(--color-primary-600);
}

/* Desktop Device */

@media (min-width: 1024px) {
  .FleetMenuItem {
    padding: 0 var(--size-12);
    height: 3.375rem;

    gap: var(--size-2) var(--size-10);
  }

  .FleetMenuItem-icon {
    width: var(--size-30);
  }
  .FleetMenuItem-name {
    font-size: 10.5px;
  }
  .FleetMenuItem-health {
    font-size: var(--size-16);
  }
  .FleetMenuItem-live {
    width: var(--size-14);
  }
}

/* #endregion FleetMenu Item */
