.WelcomePage-container {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.WelcomePage {
  position: absolute;
  width: 60%;
  max-width: 50rem;
  padding: var(--size-96) 0;

  display: flex;
  gap: var(--size-44);
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  background-color: var(--color-primary);
  border: solid 10px var(--color-dark-1);
  color: var(--color-dark-1);
  box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.2);
}

.WelcomePage-animation {
  display: flex;
  gap: var(--size-18);
  align-items: center;
  font-size: 1.8rem;
  color: var(--color-primary-1000);
}
.WelcomePage-icon {
  width: 8rem;
}
.WelcomePage-icon:nth-of-type(2) {
  transform: scaleX(-1);
}

.WelcomePage-title {
  font-size: var(--size-38);
  text-shadow: 6px 6px 0 var(--color-dark-1), 2px 6px 0 var(--color-dark-1);
  color: var(--color-secondary);
  -webkit-text-stroke: 8px var(--color-dark-1);
  paint-order: stroke fill;
}
.WelcomePage-subtitle {
  font-size: 0.8rem;
}
.WelcomePage-buttonsGroup {
  display: flex;
  gap: var(--size-22);
}
