.GamePage {
  width: 100%;

  display: grid;
  grid-template-columns: auto;
}
.GamePage-Container {
  padding: var(--size-40) var(--size-24);
  display: flex;
  flex-direction: column;
  gap: var(--size-40);
}

.GamePage-FleetOpponent,
.GamePage-FleetPlayer {
  padding: var(--size-8) 0;
}

.GamePage-GuideBar {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: var(--layer-40);

  order: 0;
}

.GamePage-ActionBar {
  width: 100%;
  position: sticky !important;
  bottom: 0;
  left: 0;
  z-index: var(--layer-40);

  order: 5;
}

/* Desktop Device */

@media (min-width: 1024px) {
  .GamePage {
    height: 100%;
    padding: var(--size-32);

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: var(--size-32);
  }

  .GamePage > *:nth-child(odd) {
    justify-self: end;
  }
  .GamePage > *:nth-child(even) {
    justify-self: start;
  }

  .GamePage-GuideBar {
    max-width: 36rem;
    order: initial;
  }
  .GamePage-ActionBar {
    order: initial;
  }
}
