/* #region BattleMap */

.BattleMap {
  width: 100%;
  max-width: 35rem;
  place-self: center;
  display: grid;
  position: relative;

  border-right: rgba(0, 0, 0, 0.15) 1px solid;
  border-bottom: rgba(0, 0, 0, 0.15) 1px solid;
}

.BattleMap.is-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.BattleMap-background {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(/src/assets/ocean-pattern.png);
  background-size: 9.375rem;
  opacity: 90%;
}

.BattleMap.is-opponent .BattleMap-background {
  filter: hue-rotate(18deg) saturate(1.5) contrast(1.4) grayscale(0.4) brightness(0.8);
}

/* Desktop Device */

@media (min-width: 1024px) {
}

/* #endregion BattleMap */

/* #region Sight */

.Sight {
  position: absolute;
  width: var(--tile-size);
  aspect-ratio: 1 / 1;
  z-index: var(--layer-30);
  color: #ffbd3f;
  background-color: var(--background-color-sight);
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.7));
}

.Sight.is-shooting {
  animation: shooting 3s steps(10) infinite;
}

@keyframes shooting {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    opacity: 1;
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    opacity: 0;
  }
}

/* #endregion Sight */

/* #region Attack Animation */

.AttackAnimation {
  width: 64px;
  height: 64px;
  position: absolute;
  z-index: var(--layer-30);
  background-position-y: calc(-64px * 15);
  animation: attack 800ms steps(5) infinite;
}

@keyframes attack {
  from {
    background-position-x: calc(-64px * 0);
  }
  to {
    background-position-x: calc(-64px * 5);
  }
}

/* #endregion Attack Animation */
