/* #region BattleMap */

.BattleMap {
  width: 100%;
  max-width: 35rem;
  place-self: center;
  display: grid;
  position: relative;

  border-right: rgba(0, 0, 0, 0.15) 1px solid;
  border-bottom: rgba(0, 0, 0, 0.15) 1px solid;
}

.BattleMap.is-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.BattleMap-background {
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url(/src/assets/ocean-pattern.png);
  background-size: 9.375rem;
  opacity: 90%;
}

.BattleMap.is-opponent .BattleMap-background {
  filter: hue-rotate(18deg) saturate(1.5) contrast(1.4) grayscale(0.4)
    brightness(0.8);
}

/* Desktop Device */

@media (min-width: 1024px) {
}

/* #endregion BattleMap */

/* #region BattleMap Tile */

.BattleMap-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100%;

  position: relative;
  z-index: var(--layer-10);

  text-transform: uppercase;
  font-size: clamp(var(--size-8), 1vw + 0.65rem, var(--size-24));
  border-left: rgba(0, 0, 0, 0.15) 1px solid;
  border-top: rgba(0, 0, 0, 0.15) 1px solid;

  touch-action: none;
}

.BattleMap-tile.is-player {
  color: var(--color-primary);
  text-shadow: 1px 1px 0 var(--color-dark-1);
}
.BattleMap-tile.is-opponent {
  color: var(--color-dark-1);
  text-shadow: 1px 1px 0 var(--color-primary);
}

.BattleMap-tile.is-available {
  background-color: var(--color-success-400);
}
.BattleMap-tile.is-unavailable {
  background-color: var(--color-error-400);
}

.BattleMap-tile.is-covered {
  background: var(--ship-pattern);
}
.BattleMap-tile.is-attacked {
  background: rgba(57, 57, 57, 0.5);
}
.BattleMap-tile.is-covered.is-attacked {
  background: linear-gradient(rgb(219, 47, 64, 0.5), rgb(219, 47, 64, 0.5)),
    var(--ship-pattern);
}

.BattleMap-tile.start::after,
.BattleMap-tile.middle::after,
.BattleMap-tile.end:after {
  content: "";
  position: absolute;
  inset: -1px;
  border: solid 4px var(--white-2);
}
.BattleMap-tile.is-covered.is-attacked::after {
  border-color: rgb(237, 149, 158);
}
.BattleMap-tile.start.horizontal::after {
  border-right: none;
}
.BattleMap-tile.start.vertical::after {
  border-bottom: none;
}
.BattleMap-tile.middle.horizontal::after {
  border-left: none;
  border-right: none;
}
.BattleMap-tile.middle.vertical::after {
  border-top: none;
  border-bottom: none;
}
.BattleMap-tile.end.horizontal::after {
  border-left: none;
}
.BattleMap-tile.end.vertical::after {
  border-top: none;
}

.BattleMap-tile.is-covered.is-hidden {
  background: none;
}
.BattleMap-tile.is-covered.is-hidden::after {
  border: none;
}
.BattleMap-tile.is-covered.is-attacked.is-hidden {
  background: hsla(354deg 71% 58% / 70%);
}

.BattleMap-tileText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Desktop Device */

@media (min-width: 1024px) {
  .BattleMap-tile {
    font-size: var(--size-18);
  }

  .BattleMap-tile.is-player {
    text-shadow: 2px 2px 0 var(--color-dark-1);
  }
  .BattleMap-tile.is-opponent {
    text-shadow: 2px 2px 0 var(--color-primary);
  }

  .BattleMap-tile.start::after,
  .BattleMap-tile.middle::after,
  .BattleMap-tile.end:after {
    border-width: 5px;
  }
}

/* #endregion BattleMap Tile */

/* #region Sight */

.Sight {
  position: absolute;
  width: var(--tile-size);
  aspect-ratio: 1 / 1;
  z-index: var(--layer-30);
  color: #ffbd3f;
  background-color: var(--background-color-sight);
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.7));
}

.Sight.is-shooting {
  animation: shooting 3s steps(10) infinite;
}

@keyframes shooting {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    opacity: 1;
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    opacity: 0;
  }
}

/* #endregion Sight */

/* #region Attack Animation */

.AttackAnimation {
  width: 64px;
  height: 64px;
  position: absolute;
  z-index: var(--layer-30);
  background-position-y: calc(-64px * 15);
  animation: attack 800ms steps(5) infinite;
}

@keyframes attack {
  from {
    background-position-x: calc(-64px * 0);
  }
  to {
    background-position-x: calc(-64px * 5);
  }
}

/* #endregion Attack Animation */
