/* #region FleetMenu */

.FleetMenu {
  min-width: 36rem;
  width: min-content;
  padding: var(--size-18);
  box-shadow: var(--shadow-m);
}
.FleetMenu-texts {
  margin-bottom: var(--size-16);
}
.FleetMenu-primaryText {
  font-size: var(--size-16);
  text-transform: uppercase;
}
.FleetMenu-ships {
  display: flex;
  gap: var(--size-12);
}

.FleetMenu.is-player {
  background-color: var(--color-primary-600);
  border: var(--color-dark-1) 4px solid;
  color: var(--color-dark-1);
}
.FleetMenu.is-opponent {
  background-color: var(--color-dark-1);
  border: var(--color-primary-500) 4px solid;
  color: var(--color-primary-500);
}

/* #endregion FleetMenu */

/* #region FleetMenu Item */

.FleetMenuItem-wrapper {
  position: relative;
}
.FleetMenuItem-back {
  position: absolute;
  inset: 0;
  background-color: var(--color-dark-1);
}

.FleetMenuItem {
  position: relative;
  padding: var(--size-10);

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: var(--size-2) var(--size-10);
  align-items: center;
}

.FleetMenuItem.is-deployed {
  background-color: var(--white);
}
.FleetMenuItem.not-deployed {
  top: -7px;
  left: -5px;
  background-color: var(--gray-16);
  cursor: pointer;
}
.FleetMenuItem.not-deployed:hover {
  background-color: var(--gray-17);
}
.FleetMenuItem.is-deploying {
  top: -9px;
  left: -5px;
  transform: rotate(-3deg);
  background-color: var(--white);
}

.FleetMenuItem-icon {
  grid-row: 1 / 3;
  width: var(--size-30);
  aspect-ratio: 1 / 1;
  display: flex;
  color: var(--gray-8);
}
.FleetMenuItem-name {
  font-size: 10.5px;
  color: var(--gray-4);
}
.FleetMenuItem-health {
  display: flex;
  gap: 3px;
}
.FleetMenuItem-live {
  width: var(--size-14);
  aspect-ratio: 1 / 1;
  background-color: var(--color-primary-600);
}
.FleetMenuItem-live.is-dead {
  background-color: var(--color-error-400);
}
.FleetMenuItem.not-deployed .FleetMenuItem-live {
  background-color: var(--gray-12);
}
.FleetMenuItem.is-deploying .FleetMenuItem-live {
  background-color: var(--color-primary-600);
}

/* #endregion FleetMenu Item */
