.icon-button {
  padding: var(--size-4);
  width: var(--size-52);
  aspect-ratio: 1 / 1;
  color: var(--color-primary-700);
  background-color: var(--color-primary-200);
}

.icon-button:hover {
  color: var(--color-primary-700);
  background-color: var(--color-primary-300);
}

.icon-button:not(:global(.is-disabled))::after,
.icon-button:not(:global(.is-disabled)):hover::after {
  box-shadow: inset -3px -3px var(--color-primary-500);
}

.icon-button:active:not(:global(.is-disabled))::after {
  box-shadow: inset 3px 3px var(--color-primary-500);
}

.icon-button:global(.is-disabled) {
  box-shadow: none !important;
  opacity: 0.4 !important;
}
