.AttackControl-container {
  display: flex;
  gap: var(--size-24);
}

.AttackControl {
  display: flex;
  align-items: center;
  gap: var(--size-6);
}

.AttackControl-label {
  line-height: 100%;
}

.AttackControl-input {
  width: 5rem;
  /* background-color: var(--white); */
  padding: .5rem;
}