.AttackControl-root {
  position: relative;
}
.AttackControl-root.is-disabled::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
.AttackControl-wrapper {
  display: flex;
  gap: var(--size-24);
}

.AttackControl {
  display: flex;
  align-items: center;
  gap: var(--size-6);
}

.AttackControl-label {
  line-height: 100%;
}

.AttackControl-input {
  width: 5rem;
  padding: 0.5rem;
  text-transform: uppercase;
}
