.GuideBar {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: var(--size-20);
}
.GuideBar-icon {
  width: var(--size-60);
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
}
.GuideBar-title {
  margin-bottom: var(--size-8);
  font-size: 0.8125rem;
  line-height: 150%;
}
.GuideBar-desc {
  font-size: 9.4px;
  line-height: 160%;
}

/* Desktop Device */

@media (min-width: 1024px) {
  .GuideBar {
    padding: var(--size-16);
  }
  .GuideBar-icon {
    width: 4.4rem;
  }
  .GuideBar-title {
    margin-bottom: var(--size-10);
    font-size: 0.9rem;
  }
  .GuideBar-desc {
    font-size: 0.65rem;
  }
}
