.Card {
  padding: var(--size-16);
  box-shadow: var(--shadow-m);
}

.Card.not-shadow {
  box-shadow: none;
}

.Card.is-disabled {
  position: relative;
  user-select: none;
  cursor: not-allowed;
}

.Card.is-disabled::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.Card.is-light {
  background-color: var(--color-primary-600);
  border: 4px solid var(--color-dark-1);
  color: var(--color-dark-1);
}
.Card.is-dark {
  background-color: var(--color-dark-1);
  border: 4px solid var(--color-primary-600);
  color: var(--white);
}

.Card.is-light.is-disabled {
  border: 4px solid #9694a1;
}
.Card.is-dark.is-disabled {
  border: 4px solid #a5d0e8;
}
