.FleetMenu {
  min-width: 36rem;
  width: min-content;
  padding: var(--size-16);
  background-color: var(--color-primary);
  border: var(--color-dark-1) 4px solid;
}
.FleetMenu-primaryText {
  font-size: var(--size-14);
  text-transform: uppercase;
}
.FleetMenu-secondaryText {
  font-size: 9px;
}
.FleetMenu-ships {
  display: flex;
  gap: var(--size-12);
}
