.ShipItem {
  padding: var(--size-10);

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: var(--size-2) var(--size-10);
  align-items: center;

  background-color: var(--white);
  cursor: pointer;
}

.ShipItem-icon {
  grid-row: 1 / 3;
  width: var(--size-28);
  aspect-ratio: 1 / 1;
  color: var(--gray-8);
}
.ShipItem-name {
  font-size: var(--size-10);
  color: var(--gray-4);
}
.ShipItem-health {
  display: flex;
  gap: var(--size-4);
}
.ShipItem-life {
  width: var(--size-12);
  aspect-ratio: 1 / 1;
  background-color: var(--color-primary-600);
}