.ShipItem {
  padding: var(--size-8);

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: var(--size-2) var(--size-10);
  align-items: center;

  background-color: var(--white);
  cursor: pointer;
}
.ShipItem.not-deployed {
  position: relative;
  top: -4px;
  left: -4px;
  background-color: var(--gray-16);
  box-shadow: 5px 7px var(--color-dark-1);
}
.ShipItem:hover {
  background-color: var(--gray-17);
}
.ShipItem.selected {
  background-color: var(--white);
}

.ShipItem-icon {
  grid-row: 1 / 3;
  width: var(--size-24);
  aspect-ratio: 1 / 1;
  display: flex;
  color: var(--gray-8);
}
.ShipItem-name {
  font-size: .6rem;
  color: var(--gray-4);
}
.ShipItem-health {
  display: flex;
  gap: var(--size-2);
}
.ShipItem-live {
  width: var(--size-10);
  aspect-ratio: 1 / 1;
  background-color: var(--color-primary-600);
}
.ShipItem-live.is-dead {
  background-color: var(--color-error-400);
}
.ShipItem.not-deployed .ShipItem-live {
  background-color: var(--gray-12);
}
.ShipItem.selected .ShipItem-live {
  background-color: var(--color-primary-600);
}