.app-container {
  width: 100%;
  min-width: 360px;
  min-height: 100%;
  
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url(./assets/ocean-pattern.png);
  background-size: 9.375rem;
  background-repeat: repeat;
}
