:root {
  /* Gray Scale */

  --black: #000000;
  --gray-1: #0D0D0D;
  --gray-2: #1A1A1A;
  --gray-3: #262626;
  --gray-4: #333333;
  --gray-5: #404040;
  --gray-6: #4C4C4C;
  --gray-7: #595959;
  --gray-8: #666666;
  --gray-9: #737373;
  --gray-10: #808080;
  --gray-11: #8C8C8C;
  --gray-12: #999999;
  --gray-13: #A6A6A6;
  --gray-14: #B3B3B3;
  --gray-15: #C0C0C0;
  --gray-16: #CDCDCD;
  --gray-17: #E5E5E5;
  --gray-18: #F2F2F2;
  --white: #FFFFFF;

  /* Custom Colors */

  --color-primary: #3490C1;
  --color-primary-100: #E1EFF7;
  --color-primary-200: #C3E0EF;
  --color-primary-300: #A6D0E7;
  --color-primary-400: #88C1DF;
  --color-primary-500: #6AB1D7;
  --color-primary-600: #4CA1CF;
  --color-primary-700: #2C7AA4;
  --color-primary-800: #246587;
  --color-primary-900: #1D4F6B;
  --color-primary-1000: #153A4E;

  --color-secondary: #63DCD2;
  --color-alternative: #1D3990;

  --color-success: #A4F4E7;
  --color-success-100: #E1FBF7;
  --color-success-200: #C2F8EF;
  --color-success-300: #6BEDD8;
  --color-success-400: #32E6C9;
  --color-success-500: #17C1A6;
  --color-success-600: #108975;

  --color-error: #E4626F;
  --color-error-100: #F8D8DB;
  --color-error-200: #F2B1B7;
  --color-error-300: #EB8993;
  --color-error-400: #DB2F40;
  --color-error-500: #B01E2D;
  --color-error-600: #7C1520;

  --color-light-1: #F6F6F6;
  --color-light-2: #F0F0F0;
  --color-dark-1: #2C2842;
  --color-dark-2: #69787E;

  --size-0: 0rem;
  --size-2: 0.125rem;
  --size-4: 0.25rem;
  --size-6: 0.375rem;
  --size-8: 0.5rem;
  --size-10: 0.625rem;
  --size-12: 0.75rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-22: 1.375rem;
  --size-24: 1.5rem;
  --size-26: 1.625rem;
  --size-28: 1.75rem;
  --size-30: 1.875rem;
  --size-32: 2rem;
  --size-34: 2.125rem;
  --size-36: 2.25rem;
  --size-38: 2.375rem;
  --size-40: 2.5rem;
  --size-44: 2.75rem;
  --size-48: 3rem;
  --size-52: 3.25rem;
  --size-56: 3.5rem;
  --size-60: 3.75rem;
  --size-64: 4rem;
  --size-68: 4.25rem;
  --size-72: 4.5rem;
  --size-76: 4.75rem;
  --size-80: 5rem;
  --size-88: 5.5rem;
  --size-96: 6rem;

  /* Custom Variables */
  --tile-size: var(--size-48);

  --ship-pattern-diagonal-percentage: 8.5%;
  --ship-pattern: linear-gradient(
    135deg,
    var(--gray-10),
    var(--gray-10) var(--ship-pattern-diagonal-percentage),
    var(--white) var(--ship-pattern-diagonal-percentage),
    var(--white) calc(var(--ship-pattern-diagonal-percentage) * 2),
    var(--gray-10) calc(var(--ship-pattern-diagonal-percentage) * 2),
    var(--gray-10) calc(var(--ship-pattern-diagonal-percentage) * 3),
    var(--white) calc(var(--ship-pattern-diagonal-percentage) * 3),
    var(--white) calc(var(--ship-pattern-diagonal-percentage) * 4),
    var(--gray-10) calc(var(--ship-pattern-diagonal-percentage) * 4),
    var(--gray-10) calc(var(--ship-pattern-diagonal-percentage) * 5),
    var(--white) calc(var(--ship-pattern-diagonal-percentage) * 5),
    var(--white) calc(var(--ship-pattern-diagonal-percentage) * 6),
    var(--gray-10) calc(var(--ship-pattern-diagonal-percentage) * 6),
    var(--gray-10) calc(var(--ship-pattern-diagonal-percentage) * 7),
    var(--white) calc(var(--ship-pattern-diagonal-percentage) * 7),
    var(--white) calc(var(--ship-pattern-diagonal-percentage) * 8),
    var(--gray-10) calc(var(--ship-pattern-diagonal-percentage) * 8),
    var(--gray-10) calc(var(--ship-pattern-diagonal-percentage) * 9),
    var(--white) calc(var(--ship-pattern-diagonal-percentage) * 9),
    var(--white) calc(var(--ship-pattern-diagonal-percentage) * 10),
    var(--gray-10) calc(var(--ship-pattern-diagonal-percentage) * 10),
    var(--gray-10) calc(var(--ship-pattern-diagonal-percentage) * 11),
    var(--white) calc(var(--ship-pattern-diagonal-percentage) * 11),
    var(--white) calc(var(--ship-pattern-diagonal-percentage) * 12)
  );
}