* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  cursor: initial;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  cursor: initial;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  min-width: 320px;
  height: 100vh;
  min-height: 100vh;
  color: var(--black);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button.nes-btn {
  cursor: pointer;
}

#root {
  width: 100%;
  height: 100%;
}